<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Оптимизация с методом computed </title>
    <link rel="stylesheet" href="theme.css" />
</head>

<body>
    
    <div class="container" id="app"> <!--Выбираем корневой элемент для вью джс чтобы он работал
    и дальше в JavaSCript нам нужно сообщить о том что именно в  это место нам необходимо проинициализировать вью -->
    <!-- то есть все что находится в данном диве вью будет обрабатавыть  -->
        <div class="card">
            <h1>{{title}} </h1> <!--Выводим значение коунтер с помощью интерполяциии-->
            <!-- Интерполяция во вью джс обозначается фигурными скобками и внутри фигурных скообок мы сразу
            обращаемся к нашей переменной counter  -->
            <div class="form-control">
                <input type="text" v-bind:placeholder="placeholderString" 
                 v-model="inputValue"
                 @keypress.enter="addNewNote"> <!--Дальше мы создаем в методах-->
                <!-- если мы в атрибуте вэлью переданм какуб либо непонятную конструкцию то вью будет ругаться на это 
                во вью есть ворнинги в котоом говорится что мол такая конструкция она была удалена соотвестсвенно 
                это значение не проявится в браузере в этом заключается вся прелесть вью  -->
                <!--Мы не можем с помощью интерполяции
                     передавать в атрибуты значения для этого существуют другие методы для байдинга то есть для того 
                    чтоюы в атрибут например в placeholder передать значения сущемивуеи свойство v-bind -->
            </div>
            <button class="btn" @:click="addNewNote">Добавить</button>
            <hr>
            <ul class="list" v-if="notes.length !==0">
                <li class="list-item" v-for="(note, idx) in notes ">
                    {{note}}
                    <div class="btn danger" v-on:click="removeNote(idx, $event)">Удалить</div>
                </li>
                <hr>
                <li>
                    <strong>Общее количество: {{notes.length}}</strong>
                </li>
            </ul>
            <div v-else="notes.length===0">Заметок пока нет. Добавьте заметку </div>
        </div>
    </div>

    <!-- ИТОГ из этого я поняла что для того чтобы добавить 
    динамичности к какому либо атрибуту сушествует директива V-BIND  -->
    

    <!-- Сокращение кода мы можем сократить наш код к примеру для байндинга мы можем использовать 
    двоеточие : а для событий использовать @ сокращенный методы боьше используются на проктике по сравнению 
    полной версией  -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
</body>
</html>